<!DOCTYPE html>
<html lang="en-us" class="h-full bg-slate-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Teacket
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body class="min-h-full font-sans text-slate-900 antialiased">
    @include('partials/header')
    <main
      class="
        mx-auto
        min-h-[calc(100vh-5rem)]
        w-full
        max-w-7x1
        px-4
        pb-10
        pt-6
        sm:px-6
        lg:px-8"
    >
      @include('partials/flash_alerts')
      {{{ await $slots.main() }}}
    </main>
    @include('partials/footer')
  </body>
</html>
