<div class="overflow-x-auto rounded-xl border border-slate-900 bg-white shadow-sm">
    <table {{ $props
        .merge({ class: ['min-w-full divide-y divide-slate-200 text-sm'] })
        .toAttrs() }}
    >
        {{{ await $slots.main() }}}
    </table>
</div>