@let(classes = ['mt-1.5 text-sm font-medium text-rose-600'])

@if($context.hasErrors)
  <div {{ $props.merge({ id: `${$context.id}-error`, class: classes }).toAttrs() }}>
    @each(message in $context.errors)
      <span class="block">{{ message }}</span>
    @end
  </div>
@end
