@let(descriptionFromSlot = await $slots.main())
@let(description = descriptionFromSlot.trim() ? descriptionFromSlot : $props.get('text'))
@let(classes = ['leading-5'])

<section {{ $props
  .except(['text'])
  .merge({ class: classes })
  .toAttrs() }}>{{{ description }}}</section>
